<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Load the ASP.NET Core plugin -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
     <!-- write logs to file -->
    <target name="infofile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
        <target name="infofile" xsi:type="File"
                fileName="${basedir}/logs/info-logfile.csv"
                archiveFileName="${basedir}/logs/archives/info-log.{#}.csv"
                archiveEvery="Day"
                archiveNumbering="Date"
                archiveDateFormat="yyyyMMdd"
                maxArchiveFiles="28"
                concurrentWrites="false"
                keepFileOpen="false"
                encoding="utf-8">
            <layout xsi:type="CSVLayout">
                <column name="time" layout="${longdate}" />
                <column name="logger" layout="${logger}" />
                <column name="authtype" layout="${aspnet-user-authtype}" />
                <column name="identity" layout="${aspnet-user-identity}" />
                <column name="level" layout="${uppercase:${level}}" />
                <column name="ip" layout="${aspnet-request-ip}" />
                <column name="message" layout="${message} ${exception:format=ToString,StackTrace}" />
            </layout>
        </target>
    </target>
    <target name="errorfile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
        <target name="errorfile" xsi:type="File"
                fileName="${basedir}/logs/error-logfile.csv"
                archiveFileName="${basedir}/logs/archives/error-log.{#}.csv"
                archiveEvery="Day"
                archiveNumbering="Date"
                archiveDateFormat="yyyyMMdd"
                maxArchiveFiles="28"
                concurrentWrites="true"
                keepFileOpen="false"
                encoding="utf-8">
            <layout xsi:type="CSVLayout">
                <column name="time" layout="${longdate}" />
                <column name="logger" layout="${logger}" />
                <column name="authtype" layout="${aspnet-user-authtype}" />
                <column name="identity" layout="${aspnet-user-identity}" />
                <column name="level" layout="${uppercase:${level}}" />
                <column name="message" layout="${message} ${exception:format=ToString,StackTrace}" />
            </layout>
        </target>
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Error" writeTo="errorfile" />
    <logger name="*" minlevel="Trace" writeTo="infofile">
      <filters>
        <when condition="(equals(logger, 'Microsoft.AspNetCore.Hosting.Internal.WebHost') 
              and contains('${message}','HTTP') 
              and not contains('${message}','.png') 
              and not contains('${message}','.jpg') 
              and not contains('${message}','.js') 
              and not contains('${message}','.css')
              and not contains('${message}','.ico')
              and not contains('${message}','.wof'))" action="Log" />
        <when condition="starts-with(logger, 'Microsoft')" action="Ignore" />
      </filters>
    </logger>
  </rules>
</nlog> 