@using System.Globalization;
@{
    ViewData["Title"] = Localizer["HomeTitle", ServerInfo.Name];
}



        <div class="blog-main">

            <div class="blog-post">
                <h2 class="blog-post-title">News sample</h2>
                <p class="blog-post-meta">June 11, 2017, by <a href="#">Igor Pauli</a></p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempus dolor eget quam sodales molestie. Nullam elementum eget sapien ut tincidunt. In feugiat vitae lorem eget pretium. In id egestas urna. Sed sed metus tempor, tincidunt metus vel, mollis orci. Vestibulum molestie lorem nec nisi aliquam porta. Sed ut rutrum turpis. Suspendisse at massa auctor, posuere lacus eu, mollis lorem. Cras pretium at orci eget accumsan. Donec nisl velit, dictum ac nulla vitae, finibus feugiat magna. Donec facilisis massa finibus turpis efficitur, ultrices mollis nisl rutrum. Ut metus massa, dictum ac quam in, auctor imperdiet orci.</p>

                <p>Maecenas lobortis dui est, vel gravida arcu tincidunt a. Nam dictum arcu quis enim rutrum luctus. Donec iaculis, ipsum quis egestas molestie, augue elit tempus velit, nec placerat nisi dolor nec nulla. Praesent ullamcorper tempor orci. Nulla facilisi. Suspendisse potenti. Nunc suscipit metus elit, ac hendrerit sem tempor id. Etiam sagittis consectetur elit vitae ullamcorper. Duis ac pharetra magna, sit amet hendrerit orci. Suspendisse ac feugiat orci. Pellentesque mattis finibus erat, at ullamcorper lorem euismod sit amet. Nam a tempor purus, id facilisis tortor. Nam posuere ex enim, quis aliquam ligula tristique sit amet. Suspendisse ut faucibus turpis, at commodo massa. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc ultricies sit amet lacus eu feugiat.</p>

                <p>Phasellus luctus, erat vitae scelerisque semper, neque quam porta magna, nec tempus nisi justo ac ligula. Duis quis justo tristique, malesuada velit faucibus, faucibus mauris. Quisque euismod felis arcu, facilisis ullamcorper nibh tempor quis. Etiam ex massa, tempus ut vulputate et, posuere quis mi. Aenean imperdiet pellentesque mi eu viverra. Etiam id tellus id nibh sodales auctor. Nulla facilisi. Nullam ut cursus ex. Aliquam imperdiet leo vel ante blandit tempor. Sed non justo ultrices, pretium leo eu, scelerisque lorem. Mauris ultricies cursus lorem et fringilla. Etiam dapibus sollicitudin tortor vel imperdiet. Ut interdum eleifend bibendum.</p>
            </div><!-- /.blog-post -->

            <div class="blog-post">
                <h2 class="blog-post-title">Another example</h2>
                <p class="blog-post-meta">June 11, 2017 by <a href="#">Rafael</a></p>

                <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
                <blockquote>
                    <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </blockquote>
                <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            </div><!-- /.blog-post -->

            <nav>
                <ul class="pager">
                    <li><a href="#">Previous</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </nav>

        </div><!-- /.blog-main -->